<section class="post_each py-5">
  <div class="btn-group">
    <% if @previous_post_id %>
        <%= link_to "이전글", post_path(@previous_post_id, search: @search, s_type: @s_type, utf8: @utf8), class: "btn btn-secondary btn-sm" %>
    <% end %>
    <% if @next_post_id %>
        <%= link_to "다음글", post_path(@next_post_id, search: @search, s_type: @s_type, utf8: @utf8), class: "btn btn-secondary btn-sm" %>
    <% end %>
  </div>
  <h2 class="sr-only">게시글</h2>
  <h3><%= @post.title %></h3>
  <p><strong><%= @post.writer %></strong></p>
  <div class="post_content mb-5">
    <p><%= @post.content %></p>
    <% if @post.image %>
        <img class="post_image" src="<%= @post.image %>">
    <% end %>
  </div>

  <!-- 수정/삭제/목록 버튼 -->
  <div class="btn-group">
    <% if current_user == @post.user %>
        <%= link_to "삭제", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <%= link_to "수정", edit_post_path(@post, page: @page, search: @search, s_type: @s_type, utf8: @utf8), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "목록", root_path(page: @page, search: @search, s_type: @s_type, utf8: @utf8), class: "btn btn-secondary" %>
  </div>

</section>

<section class="comments py-3">
  <h2 class="sr-only">댓글목록</h2>
  <% if user_signed_in? %>
      <div class="comment_add">
        <%= form_for :comment, url: post_comments_path(@post), method: :post do |f| %>
            <div class="form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control", rows: "5", placeholder: "내용" %>
            </div>
            <%= f.hidden_field(:writer => current_user.name) %>
            <%= f.hidden_field(:user_id => current_user.id) %>
            <%= f.submit "덧글쓰기", class: "btn btn-secondary btn-xs" %>
        <% end %>
      </div>
  <% end %>

  <div class="comment_display mt-3">
    <% @post.comments.reverse_each do |comment| %>
        <div class="comment_each mb-3 pt-3">
          <% if current_user == comment.user %>
              <%= link_to "지우기", post_comment_path(@post.id, comment), method: :delete, class: "btn btn-secondary btn-sm" %>
          <% end %>
          <p><strong><%= comment.writer %></strong></p>
          <p><%= comment.content %></p>
        </div>
    <% end %>
  </div>

</section>